:root {
  --main-color: #2196f3;
}
* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.game {
  background-color: #eee;
  min-height: 100vh;
}
.name {
  padding: 20px;
  background-color: var(--main-color);
  color: white;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}
.container {
  margin: auto;
  max-width: 900px;
}
.message {
  background-color: white;
  text-align: center;
  padding: 15px;
  margin: 15px 0;
  border-radius: 6px;
}
.message span {
  font-weight: bold;
  color: #009688;
}
.message span::before {
  content: "[ ";
}
.message span::after {
  content: " ]";
}
.start {
  background-color: #009688;
  text-align: center;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
.the-word {
  text-align: center;
  font-weight: bold;
  font-size: 60px;
  color: var(--main-color);
  user-select: none;
}
.input {
  width: 100%;
  margin: 15px 0;
  display: block;
  padding: 15px;
  border: 3px solid var(--main-color);
  font-size: 20px;
  text-align: center;
  text-transform: capitalize;
  border-radius: 6px;
  caret-color: var(--main-color);
}
.input:focus {
  outline: none;
}
.upcoming-words {
  background-color: white;
  margin: 15px 0;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.upcoming-words div {
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  margin: 4px;
  padding: 10px;
  border-radius: 6px;
}
.control {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 15px;
  border-radius: 6px;
}
.control span {
  font-weight: bold;
  color: #009688;
}
.finish {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  padding: 15px;
}
.finish .good {
  color: var(--main-color);
  font-size: 190px;
}
.finish .bad {
  color: red;
  font-size: 160px;
}
.Choose-a-level {
  list-style: none;
  background-color: #9e9e9e;
  padding: 10px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  user-select: none;
  border-radius: 6px;
  display: flex;
  justify-content: space-around;
}
.choosen {
  cursor: auto;
}

.restart {
  cursor: pointer;
  background-color: #009688;
  color: white;
  padding: 10px;
  border-radius: 6px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin: 20px auto;
  width: fit-content;
  transition: background-color 0.3s ease;
  display: none;
}
